:root {
}

.unity-text-element {
    -unity-font-definition: url("project://database/Assets/UI/Typeface/NotoSerif-VariableFont_wdth,wght.ttf?fileID=12800000&guid=625150be64b3a1549a64af9158f5273f&type=3#NotoSerif-VariableFont_wdth,wght");
    margin: 0;
    padding: 0;
}

.credit-row {
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0; 
    align-items: flex-start; 
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 0;
}

.credit-row #JobTitle {
    font-size: 24px;
    white-space: normal;
    overflow: visible;
    width: 40%;
    max-width: 50%; 
    min-width: 260px; 
    height: auto;
    flex-shrink: 0;
    padding: 4px; 
    margin: 0;
}


.credit-row #CreditName {
    font-size: 24px;
    white-space: nowrap;
    height: auto;
    flex-shrink: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 2px;
    padding-left: 0;
    margin-left: 0;
    -unity-text-align: upper-right; 
}


.credit-row #DottedLeader {
    font-size: 12px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto; 
    overflow: hidden;
    white-space: nowrap;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px; 
    color: rgb(120, 120, 120);
}
