:root {
}

.unity-button {
    font-size: 14px;
    -unity-font-definition: url("project://database/Assets/UI/Typeface/PlayfairDisplay-VariableFont_wght.ttf?fileID=12800000&guid=0fc5960e5c8e2414b85175b516dbf28b&type=3#PlayfairDisplay-VariableFont_wght");
    background-image: url("project://database/Assets/Art/UI.png?fileID=530779322&guid=f2da59040992cc84a88abc4e996a4eda&type=3#UI_11");
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.unity-text-element {
    -unity-font-definition: url("project://database/Assets/UI/Typeface/PlayfairDisplay-VariableFont_wght.ttf?fileID=12800000&guid=0fc5960e5c8e2414b85175b516dbf28b&type=3#PlayfairDisplay-VariableFont_wght");
}

.start-btn {
    font-size: 40px;
    background-image: url("project://database/Assets/Art/UI.png?fileID=530779322&guid=f2da59040992cc84a88abc4e996a4eda&type=3#UI_11");
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    border-color: rgba(0, 0, 0, 0);
    padding-left: 25px;
    padding-right: 25px;
    transition-property: -unity-background-image-tint-color;
    transition-duration: 0.15s;
    -unity-font-definition: url("project://database/Assets/UI/Typeface/PlayfairDisplay-VariableFont_wght.ttf?fileID=12800000&guid=0fc5960e5c8e2414b85175b516dbf28b&type=3#PlayfairDisplay-VariableFont_wght");
}

.start-btn .unity-text-element {
    transition-property: color;
    transition-duration: 0.15s;
    -unity-font-definition: url("project://database/Assets/UI/Typeface/PlayfairDisplay-VariableFont_wght.ttf?fileID=12800000&guid=0fc5960e5c8e2414b85175b516dbf28b&type=3#PlayfairDisplay-VariableFont_wght");
}

.start-btn:hover {
    -unity-background-image-tint-color: rgb(203, 66, 155);
    color: rgb(255, 255, 255);
}

.case-btn {
    font-size: 20px;
    background-image: url("project://database/Assets/Art/UI.png?fileID=530779322&guid=f2da59040992cc84a88abc4e996a4eda&type=3#UI_11");
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    border-color: rgba(0, 0, 0, 0);
    padding-left: 25px;
    padding-right: 25px;
    transition-property: -unity-background-image-tint-color;
    transition-duration: 0.15s;
    -unity-font-definition: url("project://database/Assets/UI/Typeface/PlayfairDisplay-VariableFont_wght.ttf?fileID=12800000&guid=0fc5960e5c8e2414b85175b516dbf28b&type=3#PlayfairDisplay-VariableFont_wght");
}

.case-btn .unity-text-element {
    transition-property: color;
    transition-duration: 0.15s;
    -unity-font-definition: url("project://database/Assets/UI/Typeface/PlayfairDisplay-VariableFont_wght.ttf?fileID=12800000&guid=0fc5960e5c8e2414b85175b516dbf28b&type=3#PlayfairDisplay-VariableFont_wght");
}

.case-btn:hover {
    -unity-background-image-tint-color: rgb(203, 66, 155);
    color: rgb(255, 255, 255);
}

.custom-slider #unity-tracker{
    background-image: url("project://database/Assets/Art/UI.png?fileID=1422909059&guid=f2da59040992cc84a88abc4e996a4eda&type=3#UI_0");
    background-color: rgba(200, 200, 200, 0);
    height: 12px;
}

.custom-slider #unity-dragger{
    background-image: url("project://database/Assets/Art/UI.png?fileID=-1876962846&guid=f2da59040992cc84a88abc4e996a4eda&type=3#UI_1");
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    width: 20px;
    height: 20px;

}
